body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}
.container {
    display: flex;
}
.section {
    flex: 1;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    transition: flex 0.3s ease;
    cursor: pointer;
}
.request {
    background-color: #F4A460;
}
.parameters {
    background-color: #98FB98;
}
.result {
    background-color: #87CEEB;
}

.hidden {
    display: none;
}


#title {
    color: #000080;
}

#subtitle {
    color: #000080;
}

#body {
    color: #000080;
}